
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville&family=Mulish&family=Oswald:wght@400;500&family=Poppins:wght@200;300;400;500;600&family=Xanh+Mono:ital@1&display=swap');



body{
  background-color: #272B30;
}
.navbar-brand{
  font-family: 'Xanh Mono', monospace;
}

.register{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;

}
.register-form{
  background-color: #32383E;

}
.home-header{
  background-image:url(../src/Images/paladins.b44d33d6e7ee1ba8.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height:40vh;
}

.brdr{
  border-bottom:1px solid #888;
  padding-top:5px
}

.cl-h2{
  color:#AAAAAA;
}

.logo-image{
  width:100px;
}

.image-height{
  height:500px;
}

.game-p{
  font-size:20px;
}

.item{
  background-color: #32383E;
  transition: all .5s ;
}
.item:hover{
  cursor: pointer;
}
a,a:hover{
  color:#fff;
  text-decoration: none;
}
.text{
  color:#aaa;
}

.dropdown:hover ul{
  display:block;
}

.badge-bg{
  background-color:#4799eb;
}
.badge-text-color{
  color:#4799eb;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}